.graph-app {
    position: absolute;
    left: 0;
    width: 100%;
    height: calc(100% - 150px);
    bottom: 150px;
    background-color: #ffffff;
    
}

.focused-graph {
    background-color: #333333;
    position: absolute;
}

.graph {
    background-color: #555555;
    position: absolute;
}